<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Current weather</title>
</head>
<body>
<form method="GET" action="/current">
    <input type="text" name="city" placeholder="Введите город" required/>
    <button type="submit">Найти</button>
</form>
<table>
    <tr>
        <th>Name of the city</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Temperature</th>
        <th>Condition.text</th>
        <th>Humidity</th>
        <th>UV</th>
    </tr>
    <tr th:each="weather : ${currentWeather}">
        <th th:text="${weather.location.name}"></th>
        <th th:text="${weather.location.country}"></th>
        <th th:text="${weather.location.latitude}"></th>
        <th th:text="${weather.location.longitude}"></th>
        <th th:text="${weather.current.temp}"></th>
        <th th:text="${weather.current.condition.text}"></th>
        <th th:text="${weather.current.humidity}"></th>
        <th th:text="${weather.current.uv}"></th>
    </tr>
</table>
</body>
</html>