<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Locations</title>
</head>
<body>
<form method="GET" action="/search">
    <input type="text" name="city" placeholder="Введите город" required/>
    <button type="submit">Найти</button>
</form>
<table>
    <tr>
        <th>Name of the city</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    <tr th:each="location : ${locations}">
        <th th:text="${location.name}"></th>
        <th th:text="${location.country}"></th>
        <th th:text="${location.latitude}"></th>
        <th th:text="${location.longitude}"></th>
    </tr>
</table>
</body>
</html>