body {
    min-height: 100vh;
    background-image: url("../../backgrounds/background-sign-up-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}


h1, h2, h3, h4 {
    font-weight: 500; /* как в Bootstrap */
}

.profile-wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    max-width: 550px;
    width: 100%;
}

section#page-content {
    min-height: calc(100vh - 164px);
}